<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head>
    <title>IT呆猫登录注册页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="/Public/Home/Scripts/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Public/Home/Scripts/login.js"></script>
    <link href="/Public/Home/Css/login2.css" rel="stylesheet" type="text/css"/>
</head>
<!--<body background="/Public/Home/Images/78abaab9a9a1bcbfed6662e8733b8cf0.jpg">-->
<body style="background-image: url('/Public/Home/Images/b3cc674e04d91e48ec0ee9a4e22b3eb2.jpg');background-size:cover">
<h1><img src="/Public/Home/Images/itdemo_logo4.png"/></h1>
<!-- login开始 -->
<div class="login" style="margin-top:50px;">
    <div class="header">
        <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);"
                                           tabindex="7">快速登录</a>
            <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">快速注册</a>

            <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
        </div>
    </div>
    <!--登录-->
    <div class="web_qr_login" id="web_qr_login" style="display: block; height: 400px;">
        <div class="web_login" id="web_login">
            <div class="login-box">
                <div class="login_form">
                    <!-- 登录表单开始 -->
                    <form action="{:U('Login/login')}" name="loginform" accept-charset="utf-8" id="login_form"
                          class="loginForm" method="post"><input type="hidden" name="did" value="0"/>
                        <input type="hidden" name="to" value="log"/>

                        <div id="userCue1" class="cue">欢迎登录呆猫</div>
                        <div class="uinArea" id="uinArea">
                            <label class="input-tips" for="u">手机：</label>

                            <div class="inputOuter" id="uArea">
                                <input type="text" id="u" name="username" class="inputstyle2"/>
                            </div>
                        </div>

                        <div class="pwdArea" id="pwdArea">
                            <label class="input-tips" for="p">密码：</label>

                            <div class="inputOuter" id="pArea">
                                <input type="password" id="p" name="password" class="inputstyle2"/>

                            </div>
                        </div>
                        <div class="uinArea">
                            <label class="input-tips" for="p"></label>

                            <div>
                                <img id="change_img" src="{:U('Public/verify')}">
                                <a id="change_code" style="cursor:pointer;margin-left: 5px">看不清</a>
                            </div>
                        </div>
                        <div class="uinArea">
                            <label class="input-tips">验证：</label>

                            <div class="inputOuter">
                                <input type="text" id="verifycode" name="verifycode" class="inputstyle2"
                                       placeholder="验证码"/>
                            </div>
                        </div>
                        <div style="padding-left:50px;margin-top:20px;"><input type="submit" id="log" value="登 录"
                                                                               style="width:150px;"
                                                                               class="button_red"/></div>
                        <a href="#" class="zcxy" target="_blank">忘记密码</a>
                    </form>
                    <!-- 登录表单结束 -->
                </div>
            </div>
        </div>
    </div>
    <!--登录end-->
    <!--注册-->
    <div class="qlogin" id="qlogin" style="display: none; ">
        <div class="web_login">
            <!-- 注册表单开始 -->
            <form name="form2" id="regUser" accept-charset="utf-8" action="{:U('Login/reg')}" method="post"
                  onsubmit="return false;">
                <input type="hidden" name="to" value="reg"/>
                <input type="hidden" name="did" value="0"/>
                <ul class="reg_form" id="reg-ul">
                    <div id="userCue" class="cue">欢迎注册呆猫</div>
                    <li>
                        <label for="user" class="input-tips2">手机：</label>

                        <div class="inputOuter2">
                            <input type="text" id="user" name="username" maxlength="40" class="inputstyle2"
                                   placeholder="请输入手机号"/>
                        </div>
                    </li>
                    <li>
                        <label for="passwd" class="input-tips2">密码：</label>

                        <div class="inputOuter2">
                            <input type="password" id="passwd" name="password" maxlength="16" class="inputstyle2"
                                   placeholder="密码必须大于6位"/>
                        </div>
                    </li>
                    <li>
                        <label for="passwd2" class="input-tips2">确认密码：</label>

                        <div class="inputOuter2">
                            <input type="password" id="passwd2" name="" maxlength="16" class="inputstyle2"
                                   oninput="check_password()"/>
                        </div>
                    </li>
                    <li>
                        <label class="input-tips2"></label>

                        <div>
                            <img id="change_img2" src="{:U('Public/verify')}">
                            <a id="change_code2" style="cursor:pointer;margin-left: 5px">看不清</a>
                        </div>
                    </li>
                    <li>
                        <label for="verifycode2" class="input-tips2">验证码 : </label>

                        <div class="inputOuter2">
                            <input type="text" id="verifycode2" placeholder="请输入图形验证码" name="verifycode2" maxlength="6"
                                   class="inputstyle2"
                                   size="2"/>
                        </div>
                    </li>
                    <li style="display: none" id="codeli">
                        <label for="messagecode" class="input-tips2">短信码 : </label>

                        <div class="inputOuter2">
                            <input type="text" id="messagecode" placeholder="点击获取短信验证码" name="verifycode2" maxlength="6"
                                   class="inputstyle2"
                                   size="2"/>
                        </div>
                    </li>
                    <!--<li>-->
                    <!--<label for="code" class="input-tips2">手机校验 : </label>-->

                    <!--<div class="inputOuter2">-->
                    <!--<input type="text" id="code" name="code" maxlength="6" class="inputstyle2" size="2"-->
                    <!--placeholder="点击获取验证码"/>-->
                    <!--</div>-->
                    <!--</li>-->
                    <li>
                        <div class="inputArea">
                            <input type="button" id="reg" style="margin-top:10px;margin-left:85px;" class="button_red"
                                   value="同意协议并注册"/> <a href="#" class="zcxy" target="_blank">注册协议</a>
                        </div>
                    </li>
                    <div class="cl"></div>
                </ul>
            </form>
            <!-- 注册表单结束 -->
        </div>
    </div>
    <!--注册end-->
</div>

<!-- login结束 -->


<div class="jianyi">*推荐使用ie8或以上版本ie浏览器或Chrome内核浏览器访问本站</div>
</body>
</html>
