<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{$vo.info_detail_title}</title>
    <meta name="keywords" content="{$vo.info_detail_title}"/>
    <meta name="description" content="{$vo.info_detail_abstract}"/>
    <link rel="stylesheet" type="text/css" href="/Public/Home/Css/style_2_common.css">
    <link rel="stylesheet" type="text/css" href="/Public/Home/Css/style_2_portal_view.css">
    <link rel="stylesheet" type="text/css" href="/Public/Home/Css/style_2_portal_index.css">
    <script src="/Public/Home/Scripts/common.js" type="text/javascript"></script>
    <script src="/Public/Home/Scripts/portal.js" type="text/javascript"></script>
    <script src="/Public/Home/Scripts/tools.js" type="text/javascript"></script>
    <script type="text/javascript">
        var jq = jQuery.noConflict();
    </script>
    <script src="/Public/Home/Scripts/jquery-1.6.2.min.js" type="text/javascript"></script>
</head>
<body id="nv_portal" class="pg_view" onkeydown="if(event.keyCode==27) return false;">
<iframe id="sina_anywhere_iframe" style="display: none;"></iframe>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div id="toptb" class="cl">
    <div class="wp">
        <div class="a"><h1>{$system.description}</h1></div>
        <div class="z">
            <div id="scbar" class="cl">
                <form id="scbar_form" method="post" autocomplete="off" action="/e/search/index.php" target="_blank">
                    <input type="hidden" name="show" value="title"/>
                    <input type="hidden" name="classid" value="2"/>
                    <table cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td><input type="text" name="keyboard" id="scbar_txt" value="请输入搜索内容" autocomplete="off"
                                       x-webkit-speech="" speech="" class=" xg1" placeholder="请输入搜索内容"></td>
                            <td>
                                <button type="submit" name="searchsubmit" id="scbar_btn" sc="1" class="pn pnc"
                                        value="true" mid=""></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <script type="text/javascript">
                initSearchmenu('scbar', '');
            </script>
            <if condition="$log eq 1">
                <a href="/Home/Center/index">个人中心</a> <a href="/Home/Login/loginout">退出</a>
                <elseif condition="$log eq 0"/>
                <a href="/Home/Login/index">注册登录</a>
            </if>
        </div>
    </div>
</div>
<div id="deanheader" style="">
    <div class="deanwp">
        <div class="deanlogo">
            <h2><a href="{$system.url}" title="{$system.name}"><img src="/Public/Uploads/{$system.logo}"
                                                                    alt="{$system.name}" border="0" width="199"
                                                                    height="58"></a></h2>
        </div>
        <div class="deannav">
            <ul>
                <volist name="title" id="vp">
                    <li><a href="/Home/{$vp.url}/fid/{$vp.id}" hidefocus="true" title="{$vp.name}"
                        <if condition="$vp.id eq $id">class="cur"</if>
                        >{$vp.name}<span>{$vp.seo_remark}</span></a></li>
                </volist>
            </ul>
        </div>
        <div class="deandenglu" style="display:none">
            <!-- <script src="Scripts/loginjs.js"></script> -->
            <script type="text/javascript">
                jq(".deanhove").hover(
                        function () {
                            jq(this).addClass("deanhoved");
                            jq(this).siblings(".deanmessage").show();
                        },
                        function () {
                            jq(this).removeClass("deanhoved");
                            jq(this).siblings(".deanmessage").hide();
                        })
                jq(".deanmessage").hover(
                        function () {
                            jq(this).siblings(".deanhove").addClass("deanhoved");
                            jq(this).show();
                        },
                        function () {
                            jq(this).siblings(".deanhove").removeClass("deanhoved");
                            jq(this).hide();
                        })
            </script>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script src="/Public/Home/Scripts/nv1.js" type="text/javascript"></script>
<div class="clear"></div>
<div class="deanwp" id="deansubnav">
    <ul class="p_pop h_pop" id="mn_P1_menu" style="display: none">
        <li><a href="" hidefocus="true"></a></li>
        <li><a href="" hidefocus="true"></a></li>
        <li><a href="" hidefocus="true"></a></li>
        <li><a href="" hidefocus="true"></a></li>
    </ul>
    <div class="p_pop h_pop" id="mn_userapp_menu" style="display: none"></div>
    <div id="mu" class="cl">
    </div>
</div>
<div class="clear"></div>
<div id="wp" class="wp">
    <div id="ct" class="deanbox">
        <div class="deanwpl deanborder deanfff">
            <div class="bm vw">
                <div class="newsnav">
                    <a href="/Home/Index/index">首页</a>&nbsp;>&nbsp;
                    <a href="/Home/VrNews/index">资讯</a>&nbsp;>&nbsp;
                    <a href="/Home/VrNews/index/id/{$vo.info_id}">{$vo.info_name}</a>
                </div>
                <div class="h hm">
                    <h1 class="ph">{$vo.info_detail_title}</h1>

                    <p class="xg1">{$vo.info_detail_createtime|date="Y-m-d H:i:s",###}<span class="pipe">|</span>发布者:
                        {$vo.info_detail_author}<span class="pipe">|</span>
                        查看: <em id="_viewnum">{$vo.info_detail_viewnum}
                            <!-- <script src="/Public/Home/Scripts/1527b722bda2498f92eeef90d4e2b8ea.js"></script> -->
                            <!--<script>document.write(parseInt(10*Math.random()));</script>--></em><span
                                class="pipe">|</span>
                        <a href="#pl">我要评论({$vo.info_detail_commentnum}
                            <!-- <script src="/Public/Home/Scripts/142d05ae81264573b35e43533b214355.js"></script> -->
                            )</a></p>
                    <br>

                    <p style="text-align: center;">
                        <a href="http://shop.vr186.com/shop/item-279.html" target="_blank" class="infotextkey">
                            <img src="/Public/Home/Picture/69594c8de1f4b575fb554d8c6b341951.jpg" alt="星轮viulux"></a>
                    </p>

                </div>
                <div class="s">
                    <div><strong>摘要</strong>: {$vo.info_detail_abstract}</div>
                </div>
                <div class="d">

                    <p style="text-align: center;">&nbsp;</p>

                    <p>&nbsp;</p>
                    <table cellpadding="0" cellspacing="0" class="atd">
                        <tbody>
                        <tr>
                            <td id="article_content"><p align="center" class="pageLink">
                            </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p style="text-align: center;"><img src="/Public/Home/Picture/weixin.jpg"
                                                        data-bd-imgshare-binded="1" alt=" " width="220" height="220"/>
                    </p>

                    <p style="text-align: center;"><span
                            style="color: rgb(102, 204, 204);"><strong>无需注册,直接扫描购买!</strong></span></p>

                    <div id="click_div">
                        <div class="left_boxs_tit4">
                            <div class="blank10"></div>
                            <h2>关注“{$vo.info_detail_title}”的人还喜欢</h2>
                            <ul>
                                <volist name="tlist" id="v">
                                    <li><a href="__URL__/single/id/{$v.info_detail_id}" title="{$v.info_detail_title}">{$v.info_detail_title}</a>
                                    </li>
                                </volist>
                            </ul>
                        </div>
                        <a name="pl"></a>

                        <div class="blank20"></div>
                        <div class="feelings">
                            <!-- <iframe id="mood_frame" width="538" height="200" src="/e/extend/mood/?classid=2&id=1993" marginWidth=0 marginHeight=0 frameborder="0" scrolling="no">
                            </iframe> -->
                        </div>
                    </div>
                </div>
                <div class="disclaimer">
                    免责声明：本站所收录的内容均来自于互联网,请读者下载后24小时内自行删除。
                </div>
                <div class="o cl ptm pbm">
                    <div class="left_boxs_share">
                        <!-- Baidu Button BEGIN -->
                        <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"><a class="bds_qzone"></a> <a
                                class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a
                                class="bds_kaixin001"></a> <a class="bds_qq"></a> <a class="bds_douban"></a> <a
                                class="bds_hi"></a> <a class="bds_baidu"></a> <a class="bds_tqf"></a> <span
                                class="bds_more">更多</span> <a class="shareCount"></a></div>
                        <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=482896"></script>
                        <script type="text/javascript" id="bdshell_js"></script>
                        <script type="text/javascript">
                            document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
                        </script>
                        <!-- Baidu Button END -->
                    </div>
                </div>
                <div class="pren pbm cl">
                    <em>上一篇：
                        <notempty name="preNext['1']">
                            <a href='__URL__/single/id/{$preNext[0].info_detail_id}'>{$preNext['1'].info_detail_title}</a>
                            <else/>
                            没有数据！
                        </notempty>
                    </em><br/>
                    <em>下一篇：
                        <notempty name="preNext['0']">
                            <a href='__URL__/single/id/{$preNext[0].info_detail_id}'>{$preNext['0'].info_detail_title}</a>
                            <else/>
                            没有数据！
                        </notempty>
                    </em>
                </div>
            </div>
            <div id="comment" class="bm">
                <script>
                    function CheckPl(obj) {
                        if (obj.saytext.value == "") {
                            alert("您没什么话要说吗？");
                            obj.saytext.focus();
                            return false;
                        }
                        return true;
                    }
                </script>
                <div class="bm_h cl">
                    <h3>最新评论</h3>
                </div>
                <div id="comment_ul" class="bm_c">
                    <a name="comment_anchor_4"></a>
                    <script src="/Public/Home/Scripts/995b148d84f74db7b507e84ee08fbb39.js"></script>
                    <div id="infocommentarea"></div>
                    <!-- <script type="text/javascript" src="/Public/Home/Scripts/142d05ae81264573b35e43533b214355.js"></script> -->
                    <p class="ptm pbm"><a
                            href="/e/pl/?classid=2&amp;id=1993">共有<span>{$vo.info_detail_commentnum}</span>条评论</a></p>

                    <div id="commentlist">
                        <foreach name="comment" item="cl">
                            <div class="pren pbm cl ucomment" style="border:1px solid #ccc;margin-top:5px;height:55px;">
                                <em><span style="display:block;float:left;width:700px;">
				用户
				<if condition="$cl.phone neq null">
                    {$cl.phone}
                    <else/>
                    {$cl.email}
                </if>评论:
				</span>
                                    <span style="display:block;float:left;font-size:15px;margin-left:150px;width:550px;">{$cl.info_comment_content}</span>
                                    <span style="display:block;float:right;">{$cl.info_comment_time|date="Y-m-d H:i:s",###}</span>
                                </em>
                                <br/>
                            </div>
                        </foreach>
                    </div>
                    <form action="javascript:void(0);" autocomplete="off" method="post" name="saypl" id="saypl">
                        <div class="tedt">
                            <div class="area">
		<textarea name="info_comment_content" rows="3" id="saytext" class="pt"
                  onkeydown="ctrlEnter(event, &#39;commentsubmit_btn&#39;);">
		
		</textarea>
                                <input name="info_detail_id" type="hidden" id="infoid" value="{$vo.info_detail_id}"/>
                                <input name="info_detail_commentnum" type="hidden" value="{$vo.info_detail_commentnum}"
                                       size="16"/>
                                <input name="classid" type="hidden" id="classid" value="2"/>
                                <input name="enews" type="hidden" id="enews" value="AddPl"/>
                                <input name="repid" type="hidden" id="repid" value="0"/>
                                <!-- <input type="hidden" name="ecmsfrom" value=""> -->
                            </div>
                        </div>
                        <br>
                        <input name="user_id" type="hidden" id="uid" value="{$Think.session.user_info.id}" size="16"/>
                        验证码: <input name="code" id="code" type="text" class="inputText" size="10"/>
                        <img src="__URL__/code" onclick="this.src='__URL__/code?rand='+Math.random()"
                             align="absmiddle"/>
                        <!--<input name="nomember" type="checkbox" id="nomember" value="1" checked="checked" />
                        匿名发表-->
                        <button name="commentsubmit_btn" id="commentsubmit_btn" value="true" class="pn">
                            <strong>评论</strong>
                        </button>

                        所有评论仅代表网友意见，不代表VR186立场。
                    </form>
                    <script>
                        $('#commentsubmit_btn').click(function () {
                            jq.post(
                                    '__URL__/comment',
                                    jq('#saypl').serialize(),
                                    function (data) {
                                        //var dt = JSON.parse(data);
                                        var dt = data;
                                        if (dt.status == 'yes') {
                                            //评论成功
                                            jq('.ucomment').remove();
                                            if (dt['message'].length) {
                                                var str = '';
                                                for (var i = 0; i < dt['message'].length; i++) {
                                                    str = str + '<div class="pren pbm cl ucomment" style="border:1px solid #ccc;margin-top:5px;height:55px;">';
                                                    str = str + '<em><span style="display:block;float:left;width:700px;">';
                                                    str = str + '用户';
                                                    if (dt['message'][i].phone != null) {
                                                        str = str + dt['message'][i].phone;
                                                    } else {
                                                        str = str + dt['message'][i].email;
                                                    }
                                                    str = str + '评论:';
                                                    str = str + '</span>';
                                                    str = str + '<span style="display:block;float:left;font-size:15px;margin-left:150px;width:550px;">' + dt['message'][i].info_comment_content + '</span>';
                                                    str = str + '<span style="display:block;float:right;">';
                                                    var d = new Date(dt['message'][i].info_comment_time * 1000);    //根据时间戳生成的时间对象
                                                    var date = (d.getFullYear()) + "-" + (d.getMonth() + 1) + "-" + (d.getDate()) + " " + (d.getHours()) + ":" + (d.getMinutes()) + ":" + (d.getSeconds());
                                                    str = str + date;
                                                    str = str + '</span>';
                                                    str = str + '</em>';
                                                    str = str + '<br/>';
                                                    str = str + '</div>';
                                                }

                                                jq('#commentlist').append(str);
                                                jq('#saytext').val('');
                                                jq('#code').val('');
                                                alert('评论成功！');

                                            } else {
                                                alert('系统错误！');
                                            }
                                        } else if (dt.status == 'no') {
                                            alert(dt.message);
                                        } else {
                                            alert('系统错误！');
                                        }
                                    },
                                    'json'
                            );
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="deanwpr">
            <div class="deanwprc deanshadow deanborder deanfff">
                <div class="deanp14">
                    <div class="deantabs">
                        <ul class="deantabname">
                            <li class="cur">热门搜索</li>
                            <li>专题推荐</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="clear"></div>
                        <ul class="deantabc top15">
                            <li style="display:block;"><!--[diy=deantabc1]-->
                                <div id="deantabc1" class="area">
                                    <div id="framewbBJor" class="frame move-span cl frame-1">
                                        <div id="framewbBJor_left" class="column frame-1-c">
                                            <div id="framewbBJor_left_temp" class="move-span temp"></div>
                                            <div id="portal_block_36" class="block move-span">
                                                <div id="portal_block_36_content" class="dxb_bc">
                                                    <div class="portal_block_summary searchkey">
                                                        <volist name="hot_search" id="vo">
                                                            <a target="_blank">{$vo.key}</a>
                                                        </volist>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[/diy]--></li>
                            <li><!--[diy=deantabc2]-->
                                <div id="deantabc2" class="area">
                                    <div id="framepL5TLW" class="frame move-span cl frame-1">
                                        <div id="framepL5TLW_left" class="column frame-1-c">
                                            <div id="framepL5TLW_left_temp" class="move-span temp"></div>
                                            <div id="portal_block_37" class="block move-span">
                                                <div id="portal_block_37_content" class="dxb_bc">
                                                    <div class="portal_block_summary searchkey">
                                                        <volist name="hot_recomment" id="vo">
                                                            <a target="_blank">{$vo.key}</a>
                                                        </volist>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--[/diy]--></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="deanwprc deanshadow deanborder deanfff">
                <div class="deanp14">
                    <div class="clear"></div>
                    <div class="clear"></div>
                    <div class="deanrank top25">
                        <h2>热门资源</h2>
                        <volist name="hot_download" id="vo">
                            <li>
                                <a target="_blank" title="{$vo.info_detail_title}">{$vo.info_detail_title}</a>
                            </li>
                        </volist>

                        <div class="clear"></div>
                        <ul class="deanrankc">
                            <div id="deanrank" class="area">
                                <div id="framepvvJiG" class="frame move-span cl frame-1">
                                    <div id="framepvvJiG_left" class="column frame-1-c">
                                        <div id="framepvvJiG_left_temp" class="move-span temp"></div>
                                        <div id="portal_block_44" class="block move-span">
                                            <div id="portal_block_44_content" class="dxb_bc">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="clear"></div>

                    <div class="deantabs top25">
                        <ul class="deantabname">
                            <li class="cur">官方微信</li>
                            <li>社区微博</li>
                            <div class="clear"></div>
                        </ul>
                        <div class="clear"></div>
                        <ul class="deantabc top15">
                            <li style="display:block;text-align:center;">
                                <div id="deantabc4" class="area">
                                    <div id="framexSFs84" class="frame move-span cl frame-1">
                                        <div id="framexSFs84_left" class="column frame-1-c">
                                            <div id="framexSFs84_left_temp" class="move-span temp"></div>
                                            <div id="portal_block_99" class="block move-span">
                                                <div id="portal_block_99_content" class="dxb_bc">
                                                    <div class="portal_block_summary"><a href="#" target="_blank"><img
                                                            src="/Public/Home/Picture/weixin.jpg" width="258"/></a>

                                                        <div class="clear"></div>

                                                        <a href="#" target="_blank" style="color:#333;">社区微信公众平台</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div id="deantabc3" class="area">
                                    <div id="frameZB0jpU" class="frame move-span cl frame-1">
                                        <div id="frameZB0jpU_left" class="column frame-1-c">
                                            <div id="frameZB0jpU_left_temp" class="move-span temp"></div>
                                            <div id="portal_block_98" class="block move-span">
                                                <div id="portal_block_98_content" class="dxb_bc">
                                                    <div class="portal_block_summary">
                                                        <iframe width="270" height="550" class="share_self"
                                                                frameborder="0" scrolling="no"
                                                                src="http://widget.weibo.com/weiboshow/index.php?language=&width=270&height=550&fansRow=1&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1944968250&verifier=687040f6&dpc=1"></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <script type="text/javascript">
                        jq(".deantabname li").each(function (s) {
                            jq(this).hover(function () {
                                jq(this).addClass("cur").siblings().removeClass("cur");
                                jq(".deantabc li").eq(s).show().siblings().hide();
                            })
                        })
                    </script>
                </div>

            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="deanfooter">
    <div class="deanftinfo">
        {$system.banquan}{$system.beian}{$system.tongji}
    </div>
</div>
<div id="scrolltop" style="left: auto; right: 0px; visibility: hidden;">
    <span hidefocus="true"><a title="返回顶部" onclick="window.scrollTo(&#39;0&#39;,&#39;0&#39;)"
                              class="scrolltopa"><b>返回顶部</b></a></span>
</div>

<!--<script src="Scripts/jq.snow.js"></script>
   	<script>
	$(function(){
		$.fn.snow({ 
			minSize: 5,		//雪花的最小尺寸
			maxSize: 50, 	//雪花的最大尺寸
			newOn: 300		//雪花出现的频率 这个数值越小雪花越多
		});
	});
	</script>-->
<script src="/Public/Home/Scripts/657e223da3b84f03bf1d5cd7ddb12db3.js"></script>
<script src="/Public/Home/Scripts/d030c755df6f4b8e83c25947a2bd0e8d.js"></script>
<script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "2",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "0",
        "bdSize": "16"
    },
    "slide": {"type": "slide", "bdImg": "2", "bdPos": "right", "bdTop": "100"},
    "image": {"viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"},
    "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]}
};
with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
</body>
</html>
