<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>密码修改 - {$system.name}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="{$system.key}"/>
    <meta name="description" content="{$system.des}"/>
    <link rel="stylesheet" href="__PUBLIC__/Center/css/base.css" type="text/css"/>
    <link rel="stylesheet" href="__PUBLIC__/Center/css/common/common-less.css" type="text/css"/>
    <link rel="stylesheet" href="__PUBLIC__/Center/component/logic/login/login-regist.css" type="text/css"/>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Center/css/settings.css" type="text/css"/>
</head>
<body>
<div id="header">
    <div class="page-container" id="nav" style="background-color: #DC143C">
        <div class="g-menu-mini l">
            <a href="#" class="menu-ctrl">
                <i class="icon-menu">
                </i>
            </a>
            <ul class="nav-item l">
                <li style="margin-left: 30px">
                    <!--<a href="__MODULE__/index" target="_self">网站首页</a>-->
                    <a href="/Home/Index/index"><img src="/Public/Home/Images/banner0104.png" /></a>
                </li>
            </ul>
        </div>
        <div id="login-area">
            <ul class="clearfix logined">
                <li>
                    <a id="nc" style="color: white">欢迎你 {$name}</a>
                </li>
                <li>
                    <a href="/Home/Login/logout" style="color: white;">退出登录</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="main">
    <div class="wcontainer set-space-cont clearfix">
        <div class="setting-left l">
            <ul class="wrap-boxes">
                <li>
                    <a href="__URL__/index">个人资料</a>
                </li>
                <li>
                    <a href="__URL__/phone">手机设置</a>
                </li>
                <li>
                    <a href="__URL__/integral">积分猫豆</a>
                </li>
                <li class="nav-active">
                    <a href="__URL__/password" class="onactive">修改密码</a>
                </li>
            </ul>
        </div>
        <div class="setting-right ">
            <div class="setting-right-wrap wrap-boxes settings">
                <div id="setting-profile" class="setting-wrap setting-profile">
                    <form id="profile">
                        <input type="hidden" name="id" id="id" value="{$user.id}"/>

                        <div class="wlfg-wrap">
                            <label class="label-name">新密码</label>

                            <div class="rlf-group">
                                <input type="password" name="password" id="password" onblur="passwords();"
                                       class="textarea" placeholder="请输入新密码" value=""/>

                                <p class="rlf-tip-wrap"></p>
                                <input type="password" name="repassword" id="repassword" onblur="repasswords();"
                                       class="textarea" placeholder="再次输入新密码" value=""/>

                                <p class="rlf-tip-wrap"></p>
                            </div>
                        </div>
                        <div class="wlfg-wrap">
                            <div class="rlf-group">
                                <span id="profile-submit" hidefocus="true" aria-role="button"
                                      class="rlf-btn-green btn-block profile-btn"
                                      style="background-color:#ccc;cursor:no-drop;">保存</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div id="footer" style="background-color: #DC143C">
    <div class="waper">
        <div class="footerwaper clearfix">
            <div class="followus r">
                <a class="followus-weixin" href="javascript:;" target="_blank" title="微信">
                    <div class="flw-weixin-box"></div>
                </a>
                <a class="followus-weibo" href="http://weibo.com/u/3306361973" target="_blank" title="新浪微博"></a>
                <a class="followus-qzone" href="http://user.qzone.qq.com/1059809142/" target="_blank" title="QQ空间"></a>
            </div>
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <volist name="title" id="vo">
                            <li>
                                <a href="__MODULE__/{$vo.url}/fid/{$vo.id}" hidefocus="true" title="{$vo.name}"
                                   style="color: white">{$vo.name}</a>
                            </li>
                        </volist>
                    </ul>
                </div>
                <p style="color: white">{$system.banquan}{$system.beian}{$system.tongji}</p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var m1 = false;
    var m2 = false;

    function pd() {
        if ((m1 == true) && (m2 == true)) {
            $("#profile-submit").attr('style', '');
            $("#profile-submit").attr('onclick', 'gmm();');
        } else {
            $("#profile-submit").attr('style', 'background-color:#ccc;cursor:no-drop;');
            $("#profile-submit").attr('onclick', '');
        }
    }

    function passwords() {
        var password = $("#password").val();
        if (!(/[\w\d]{6,16}/.test(password))) {
            $("#password").attr('style', 'border:1px solid #ff0000;');
            m1 = false;
            pd();
        } else {
            $("#password").attr('style', 'border:1px solid #00ff00;');
            m1 = true;
            pd();
        }
    }

    function repasswords() {
        var repassword = $("#repassword").val();
        var password = $("#password").val();
        if (!((password == repassword) && (m1 == true))) {
            $("#repassword").attr('style', 'border:1px solid #ff0000;');
            m2 = false;
            pd();
        } else {
            $("#repassword").attr('style', 'border:1px solid #00ff00;');
            m2 = true;
            pd();
        }
    }

    function gmm() {
        $.ajax({
            type: "POST",
            url: "/Home/Center/changepwd",
            dataType: "json",
            data: {
                id: $("#id").val(),
                password: $("#repassword").val(),
            },
            success: function (data) {
                if (data == 1) {
                    alert('修改成功!')
                    $("#profile-submit").html("保存成功");
                } else {
                    $("#profile-submit").html("保存失败");
                }
            },
            error: function (jqXHR) {
                alert("发送错误：" + jqXHR.status);
            },
        });

        $("#password").attr('style', '');
        $("#repassword").attr('style', '');
        $("#password").val('');
        $("#repassword").val('');
        m1 = false;
        m2 = false;

        $("#profile-submit").attr('style', 'background-color:#ccc;cursor:no-drop;');
        $("#profile-submit").attr('onclick', '');

        setTimeout(function () {
            $("#profile-submit").html("保存");
        }, 3000)
    }
</script>
</body>
</html>